.env

/env/
env/




*/pycache__/
__pycache__/
__pycache__
/__pycache__/
*/__pycache__/
*/__pycache__/*
__pycache__/*.pyc
chat/__pycache__/
chat_app/__pycache__/
user/__pycache__/

chat/chat_app/__pycache__/
chat/user/__pycache__/


/staticfiles/
staticfiles/


.git
*.pyc
.DS_Store

*.cpython-39.pyc
/__pycache__/*.pyc
/__pycache__/*.cpython-39.pyc
/*.cpython-39.pyc
*.pyc
*~
*.swp

.history
*.local
